<%= form_for(@directory) do |f| %>
  <% if @directory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h2>

      <ul>
      <% @directory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- <= f.error_messages %>         -->
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
     </div>
    <%= f.hidden_field :parent_id %>

  <div class="actions">
    <% if @directory.new_record? %>
        <%= f.submit "Create Folder" %>
    <% else %>
        <%= f.submit "Rename Folder" %>
    <% end %>
  </div>
<% end %>


