<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<br>
<p>
  <b>Name:</b>
  <%= @cluster.name %>
  <br>
  <br>
  <b>InstanceType:</b>
  <%= @cluster.instance_type %>
</p>


<%= link_to 'Edit', edit_cluster_path(@cluster) %> |
<%= link_to 'Back', clusters_path %>

<br>
<div class="span4">
  <br>
  <h2> Add Virtual Machines</h2>
<%=  form_tag ( {:action => "add_virtual_machines" } ) do %>
    <table class="table">

      <tr>
        <td> Number of Instances:</td>
        <td> <%= select "vms_number_input", :vm_number, (1..5).map { |i| i} %>  </td>
        <td><%= submit_tag("Add")%></td>
      </tr>
    </table>
<% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<% if @cluster.virtual_machines.any? %>

    <button class="btn btn-info">
      <%= link_to 'Start All', start_all_virtual_machine_path( @cluster)%>
    </button>

    <button class="btn btn-info">
      <%= link_to 'Reboot All', reboot_all_virtual_machine_path( @cluster)%>
    </button>

    <button class="btn btn-info">
      <%= link_to 'Stop All', stop_all_virtual_machine_path( @cluster)%>
    </button>

    <button class="btn btn-info">
      <%= link_to 'Terminate All', terminate_all_virtual_machine_path( @cluster)%>
    </button>

    <br>
    <br>

<h3>Virtual Machines (<%= @cluster.virtual_machines.count %>)</h3>
<table class="table">
     <tr>
       <th>
         provider id
       </th>
         <th>
            internal dns Name
         </th>
         <th>
            State
         </th>
         <th>
            Slots
         </th>
         <th>
            Jobs
         </th>
     </tr>
  <% @cluster.virtual_machines.each do |virtual_machine| %>

      <% if !(virtual_machine.current_state == "terminated" ) %>

         <tr>
           <td><%= virtual_machine.AMI_name %></td>
            <td><%= virtual_machine.hostname %></td>
            <td><%= virtual_machine.current_state %></td>
            <td><%= virtual_machine.slots %></td>
            <td>
                <% virtual_machine.jobs.each do |job| %>
                  <%= link_to job.id, job %>
                <% end %>
              </td>

            <td><i class="icon-play-circle"></i><%= link_to 'Start', start_virtual_machine_path(virtual_machine, @cluster)%></td>
            <td><i class="icon-minus-sign"></i><%= link_to 'Stop', stop_virtual_machine_path(virtual_machine, @cluster)%></td>
            <td><i class="icon-repeat"></i><%= link_to 'Reboot', reboot_virtual_machine_path(virtual_machine, @cluster)%></td>
            <td><i class="icon-remove-sign"></i><%= link_to 'Terminate', terminate_virtual_machine_path(virtual_machine, @cluster)%></td>
     </tr>
      <% end %>
  <% end %>

</table>

<% end %>









