<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<br>
<p>
  <b>Name:</b>
  <%= @cluster.name %>
  <br>
  <br>
  <b>InstanceType:</b>
  <%= InstanceType.find(@cluster.instance_type_id).name %>
</p>


<%= link_to 'Edit', edit_cluster_path(@cluster) %> |
<%= link_to 'Back', clusters_path %>

<br>
<div class="span4">
  <br>
  <h2> Add Virtual Machines</h2>
<%=  form_tag ( {:action => "add_virtual_machines" } ) do %>
    <table class="table">

      <tr>
        <td> Number of Instances:</td>
        <td> <%= select "vms_number_input", :vm_number, (1..5).map { |i| i} %>  </td>
        <td><%= submit_tag("Add")%></td>
      </tr>
    </table>
<% end %>
</div>

<br>

<div class="span8">
  <% if @cluster.virtual_machines.any? %>
      <h3>Virtual Machines (<%= @cluster.virtual_machines.count %>)</h3>

      <br>
      <br>

      <ol >
        <%= render @cluster.virtual_machines %>
      </ol>


<% end %>
</div>

<br>
<br>
<br>
<br>
<br>

<br>

<br>



