<ul class="media-list">

<% @applications.each do |application| %>
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag 'Instituto_Humboldt_logo.jpg', :size => '80x80', :html=>{:class=>'media-object'}%>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= application.name %></h4>
      <p><%= application.version %></p>
      <p><%= application.description %></p>
      <p><%= link_to 'Details...', application %></p>
      </div>
  </li>
<% end %>
 </ul>

