
<div class="row-fluid">
  <ul class="thumbnails">
<% @applications.each do |application| %>




          <li class="span3">
            <div class="thumbnail">
              <%= image_tag 'Instituto_Humboldt_logo.jpg', :size => '300x200', :html=>{:class=>'media-object'}%>
              <div class="caption">
                <h4><%= application.name %> : <%= application.version %></h4>
                <p><%= application.description %></p>
                <p>
                  <%= link_to 'Details', application, :class => "btn btn-primary" %>

                  <% if user_signed_in? %>
                      <%= link_to 'Launch Demo',demo_execution_path(application.id),:id=>'launchButton', :name => "launch", :class => "btn btn-info"%>
                  <% end %>
                </p>
              </div>
            </div>
          </li>



<% end %>
</ul>
</div>

