<%= form_for(@parameter) do |f| %>
    <% if @application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>



    <h1> <%= @application.name %> <%= @application.version %> </h1>
    <h1> Adding inputs </h1>

    <table>
      <tr>
        <td>
          <h3>Name </h3>
        </td>
      </tr>
      <td>
        <%= @application.name %>
      </td>
      </tr>
      <tr>
        <td>
          <h3> Version </h3>
        </td>
      </tr>
      <td>
        <%= @application.version %>
      </td>
      </tr>
      <tr>
        <td>
          <h3> Installer Url </h3>
        </td>
      </tr>
      <td>
        <%= @application.installer_url %>
      </td>
      </tr>
    </table>

    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <h2> Inputs: </h2>



    <% if @application.inputs.any? %>

        <br>


        <table class="table">
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Prefix</td>
            <td>File</td>
            <td>Directory</td>
          </tr>
          <% @application.inputs.each do |input| %>
              <tr>
                <td> <%= input.name %></td>
                <td> <%= input.description %></td>
                <td> <%= input.prefix %></td>
                <td><% if input.is_file? %> X <% end %></td>
                <td><% if input.is_directory? %> X <% end %></td>

              </tr>
          <% end %>
        </table>

    <% else %>
        <br>
        <h3> No inputs </h3>

    <% end %>


    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <h2> Describe parameters of your application </h2>

    <% if @application.parameters.any? %>

        <br>


        <h3> Current Parameters: </h3>



        <table class="table">
          <tr>
            <td>Name</td>
            <td>Prefix</td>
          </tr>
          <% @application.parameters.each do |param| %>
              <tr>
                <td> <%= param.name %></td>
                <td> <%= param.prefix %></td>
                <td><%= link_to 'Delete', param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
        </table>

    <% end %>


    <h2> Add Parameter: </h2>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :prefix %>
      <%= f.text_field :prefix %>
    </div>


    <div class="actions">
      <%= f.submit nil %>
    </div>


    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <div class="actions">
      <%= f.submit 'Back', :name => "back" %>
    </div>

    <div class="actions">
      <%= f.submit 'Next', :name => "next" %>
    </div>





<% end %>