<h1> <%= @application.name %>  <%= @application.version %> </h1>
<br>



<h3>Name </h3>
<%= @application.name %>
<h3>Version </h3>
<%= @application.version %>
<h3>Description </h3>
<%= @application.description %>

<br>
<br>

<ul class="nav nav-list">

  <li class="divider"></li>

</ul>

<h2> Inputs: </h2>



<% if @application.inputs.any? %>

    <br>


    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Prefix</th>
        <th>Value</th>
        <th>File</th>
        <th>Directory</th>
        <th>Position</th>
      </tr>
      <% @application.inputs.order('position asc').each do |input| %>
          <tr>
            <td> <%= input.name %></td>
            <td> <%= input.description %></td>
            <td> <%= input.prefix %></td>
            <td> <%= input.value %></td>
            <td><% if input.is_file? %> X <% end %></td>
            <td><% if input.is_directory? %> X <% end %></td>
            <td> <b> <%= input.position %> </b></td>

          </tr>
      <% end %>
    </table>

<% else %>
    <br>
    <h3> No inputs </h3>

<% end %>


<br>
<br>

<ul class="nav nav-list">

  <li class="divider"></li>

</ul>

<h2> Base Command: </h2>



<%= @application.base_command %>

<br>
<br>

<ul class="nav nav-list">

  <li class="divider"></li>

</ul>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_application_path(@application) %> |
    <% end %>
<%= link_to 'Back', applications_path %>
