<table class= "table ">

  <tr>
    <td>
      <h2>Your Data</h2>
    </td>
    <td>
      <!-- Button to trigger modal -->
      <a href="#myModal" role="button" class="btn" data-toggle="modal">Upload File</a>
      <a href="#modalCreateDir" role="button" class="btn" data-toggle="modal">Create Directory</a>
      <!--<%= link_to 'New Cloud file', new_cloud_file_path %>-->
    </td>
  </tr>

</table>

<div class="label label-info"><%= session[:current_directory].directory_path %></div>

<!-- New Directory -->

<% if @current_directory %>
    <li><%= link_to "New Folder", new_sub_directory_path(@current_directory ) %></li>
<% else %>
    <li><%= link_to "New Folder", new_directory_path %></li>
<% end %>

<!-- Listing Directories -->

<h2>Directories</h2>

<table class= "table table-striped">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @directories.each do |directory| %>
      <tr>
        <td><%= link_to directory.name, browse_path(directory) %></td>
        <td><%= directory.directory_path %></td>
        <td>---</td>
        <td><%= link_to 'Show', directory %></td>
        <!--<td><= link_to 'Edit', edit_cloud_file_path(cloud_file) %></td>-->
        <!-- <td><= link_to 'Destroy', cloud_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>  -- >
      </tr>
  <% end %>
</table>

<!-- Files -->

<% @cloud_files.each do |cloud_file| %>
    <tr>
      <td><i class="icon-file"></td>
      <td><%= cloud_file.name %></td>
      <td><%= cloud_file.size %></td>
      <td><a href="<%= cloud_file.complete_url %>">Download</a></td>
      <td><%= link_to "Delete" , cloud_file, :confirm => 'Are you sure?', :method => :delete%></td>

    </tr>
<% end %>

<!-- modal para rear directorio -->

<br />




<!-- modal para subir archivo-->

<!-- Modal -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"data-show="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload File</h3>
  </div>
  <div class="modal-body">
    <p>
      <%= form_for(@cloud_file, :html => {:multipart =>true}) do |f| %>
          <% if @cloud_file.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@cloud_file.errors.count, "error") %> prohibited this cloud_file from being saved:</h2>

              <ul>
                <% @cloud_file.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>




        <div class="field">
          <%= f.label "file" %><br />
          <%= f.file_field :avatar %>
        </div>




        </p>
        </div>
        <div class="modal-footer">

          <div class="actions">
            <%= f.submit %>
          </div>
          <button class="btn btn-primary">Save changes</button>
        </div>

    <% end %>
    </div>

<!-- FIN de modal para subir archivo-->



<!-- modal para crear directorio-->

<!-- Modal -->
<div class="modal hide fade" id="modalCreateDir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalCreateDirlLabel">Create Directory</h3>
  </div>
  <div class="modal-body">
    <p>

  </div>

</div>

<!-- FIN de modal para create directory-->