<%= form_for(@virtual_machine_event) do |f| %>
  <% if @virtual_machine_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@virtual_machine_event.errors.count, "error") %> prohibited this virtual_machine_event from being saved:</h2>

      <ul>
      <% @virtual_machine_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :vm_id %><br />
    <%= f.number_field :vm_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
