<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_id %><br />
    <%= select :job,  :application_id ,  options_from_collection_for_select(@applications, :id,:name)  %><br />
  </div>
   <div class="field">
    <%= f.label :cluster_id %><br />
     <%= select :job,  :cluster_id ,  options_from_collection_for_select(@clusters, :id,:name)  %><br />
  </div>
   <div class="field">
    <%= f.label :parameters %><br />
    <%= f.text_field :parameters %>
  </div>
  <div class="field">
    <%= f.label :inputs %><br />
    <%= f.text_field :inputs %>
  </div>
  <div class="field">
    <%= f.label :outputdir %><br />
    <%= f.text_field :outputdir %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
