<h1>Your Jobs:</h1>

<br>
<br>

<% if @jobs.empty?  %>

    <h2>Your execution is being processed and there are still no jobs launched</h2>

<% end %>


<br>
<br>



<table class="table">
  <tr>
    <th>Id</th>
    <th>Application</th>
    <th>Cluster</th>
    <th>Virtual machine</th>
    <th>Status</th>
    <th>Output Directory</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.application.name %></td>
    <td><%= link_to job.cluster.name, job.cluster %></td>
    <td>
        <% if job.virtual_machine != nil %>
         <%= link_to job.virtual_machine.AMI_name, job.virtual_machine  %>
        <% end %>
    </td>
    <td><%= job.status %></td>
    <td>
        <%= link_to job.directory.name , browse_path(job.directory) %>
    </td>
    <td><%= job.start_time %></td>
    <td><%= job.end_time %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
