<p id="notice"><%= notice %></p>

<p>
  <b>Application:</b>
  <%= @job.application.name %>
</p>

<p>
  <b>User:</b>
  <%= @job.user.email %>
</p>

<p>
  <b>Cluster:</b>
  <%= link_to @job.cluster.name, @job.cluster %>
</p>

<p>
  <b>Virtual machine:</b>
  <% if @job.virtual_machine != nil %>
  <%= link_to @job.virtual_machine.AMI_name, @job.virtual_machine  %>
  <% end %>
</p>

<p>
  <b>Parameters:</b>
  <%= @job.parameters %>
</p>

<p>
  <b>Inputs:</b>
  <%= @job.inputs %>
</p>

<p>
  <b>Output Directory:</b>
  <%= @job.directory %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Start time:</b>
  <%= @job.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @job.end_time %>
</p>

<p>
  <b>Wallclock time:</b>
  <%= @job.wallclock_time %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
