<h1>My Executions:</h1>

<ul class="pager">
<li class="next"><%= link_to 'New Execution', new_execution_path, :class=>'btn btn-primary' %></li>
</ul>
<br>

<table class="table table-striped table-condensed table-hover">
  <tr>

    <th>Name</th>
    <th>Description</th>
    <th>Application</th>
    <th>Directory</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @executions.each do |execution| %>

      <tr>

        <td><%= execution.name %></td>
        <td><%= execution.description %></td>
        <td><%= execution.application.name %></td>
        <% if execution.directory %>
            <td><%= link_to execution.directory.name, browse_path(execution.directory) %></td>
        <% else %>
            <td>Not assigned</td>
        <% end %>
        <td><%= execution.start_date %></td>
        <td><%= execution.end_date %></td>
        <td><%= link_to 'Show', execution %></td>
        <td><%= link_to 'Destroy', execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if execution.completed? %>
            <td><%= link_to 'Complete', define_execution_path(execution) %></td>
            <td><span class="badge badge-important">Not completed</span></td>
        <% elsif execution.launched? %>
            <td><%= link_to 'Launch', define_execution_part2_path(execution) %></td>
            <td><span class="badge badge-warning">Not Launched yet</span></td>
        <% elsif execution.ended? %>
            <td></td>
            <td><span class="badge badge-success">Execution finished!</span></td>
        <% else %>
            <td><%= link_to 'Edit', edit_execution_path(execution) %></td>
            <td><span class="badge badge-info">Running</span></td>
        <% end %>

      </tr>
  <% end %>
</table>

<br />


