<%= form_for @execution do |f| %>

    <% if @execution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this execution from being started:</h2>

          <ul>
            <% @execution.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>
      <div class="well">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :title => "Give a name to your execution." %>
    </div>


    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :rows =>3, :title => "Type a short description for future reference." %>
    </div>

    <div class="field">
      <%= f.label :application_id %>
      <%= select :execution,  :application_id,  options_from_collection_for_select(Application.all, :id,:app_info)  %>
    </div>

    <div class="actions">
          <%= f.submit  :class => "btn btn-primary" %>
    </div>
      </div>
<% end %>
