<%= render 'base_costs' %>

<div>
  <h4>Details for the period</h4>
  <table class="table table-striped">
    <tr>
      <th>Execution</th>
      <th>Start Date</th>
      <th>Total Time (hours)</th>
      <th>Total Cost ($USD)</th>
    </tr>
    <% @executions2.each do |exec| %>
        <tr>
          <td><%= exec.name %></td>
          <td><%= exec.start_date %></td>
          <td><%= exec.compute_total_hours exec %></td>
          <td><%= exec.total_cost %></td>
        </tr>
    <% end %>
  </table>
</div>