<%= form_for(@execution) do |e| %>

    <% if @execution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% execution.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <br>

    <h2> <%= @execution.application.name %> </h2>
    <br>
    <strong> <%= @execution.base_command %></strong>
    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <h1> Define the parameters for your execution: </h1>

    <br>
    <br>

    Choose a virtual machine type:

    <%= select :execution_params,  :instance_type ,  Aws::Ec2::INSTANCE_TYPES  %>

    Enter an estimated time per job in minutes:

    <%= select :execution_params,  :time_per_job  , (1..1440).map { |i| i}  %>

    <table class="table span3">

      <tr>
        <td>Chosen VM: </td>
        <td><%= @execution.vm_type %> </td>
      </tr>

      <tr>
        <td>Estimated Time per job: </td>
        <td><%= @execution.time_per_job %> </td>
      </tr>

      <tr>
        <td>Total Jobs: </td>
        <td><%= @execution.number_of_jobs %> </td>
      </tr>
      <tr>
        <td>Computing hours: </td>
        <td> <%= @execution.computing_hours %>  - (<%= @execution.computing_minutes %> minutes )  </td>
      </tr>
      <tr>
        <td>Cost per virtual machine: </td>
        <td> $USD <%= @execution.vm_cost %> per hour   </td>
      </tr>

      <tr>
        <td>eClouds will use: </td>
        <td>  <%= @execution.vm_number %> virtual_machines   </td>
      </tr>

      <tr>
        <td>This will cost </td>
        <td> $USD <%= @execution.total_estimated_cost %>    </td>
      </tr>

      <tr>
        <td>This will take </td>
        <td> <%= @execution.estimated_time_minutes %>   minutes </td>
      </tr>
    </table>


    <div class="actions" >
      <%= e.submit 'Calculate', :name => "calculate"%>
    </div>


    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <br>
    <br>

    <div class="actions" >
      <%= e.submit 'Launch Execution', :name => "launch"%>
    </div>

<% end %>