<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "test" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class= "brand"><%= link_to "e-Clouds", '#', id: "logo" %> <%= image_tag('https://s3.amazonaws.com/eclouds/imagenes/logo.jpg' , :size => "30x30") %> </div>
      <nav>
        <ul class="nav pull-right">
          <li class="icon-home icon-white"><li><%= link_to "Home",    '/static_pages/home' %></li></li>


          <% if user_signed_in? %>

              <li class="icon-check icon-white"><li><%= link_to "Executions",   executions_path %></li></li>
              <li class="icon-th icon-white"><li><%= link_to "Apps",   applications_path %></li></li>
              <li class="icon-folder-open icon-white"><li><%= link_to "My Data",   data_home_path %></li> </li>
          <% end %>




          <li class="icon-question-sign icon-white"><li><%= link_to "Help",    '#' %></li> </li>
          <!-- botones de inicio de sesiion -->
          <% if user_signed_in? %>
              <li class="icon-user icon-white"><li><%= link_to "Edit registration", edit_user_registration_path %></li></li>
              <li class="icon-off icon-white"><li><%= link_to "Logout ", destroy_user_session_path , :method => :delete%></li></li>
          <% else %>
              <li class="icon-plus icon-white"><li><%= link_to "Register", new_user_registration_path %></li></li>
              <li class="icon-lock icon-white"><li><%= link_to "Login", new_user_session_path %></li></li>
          <% end %>

          <% if user_signed_in? %>

          <% else %>

          <% end %>


        </ul>
      </nav>
    </div>
  </div>
</header>


<% flash.each do |key,value| %>
    <br>
    <% if key == :notice %>
        <p class="alert alert-info"><%= notice %></p>

    <% elsif key == :alert %>
        <p class="alert"><%= alert %></p>
    <% else %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
<% end %>

<div class="container">
  <br>
  <br>
  <br>
  <%= yield %>
  <br>
  <br>
  <br>





</div>
</body>


</html>

