<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "test" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class= "brand"><%= link_to "e-Clouds", '#', id: "logo" %> <%= image_tag('https://s3.amazonaws.com/eclouds/imagenes/logo.jpg' , :size => "30x30") %> </div>
      <nav>
        <ul class="nav pull-right">

          <% if user_signed_in? %>

              <li><%= link_to "Executions",   executions_path %></li>
              <li><%= link_to "Apps",   applications_path %></li>
              <li><%= link_to "My Data",   data_home_path %></li>
          <% end %>


          <li><%= link_to "Home",    '/static_pages/home' %></li>
          <li><%= link_to "Help",    '#' %></li>


          <!-- botones de inicio de sesiion -->
          <% if user_signed_in? %>
              <li><%= link_to "Logout ", destroy_user_session_path , :method => :delete%></li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>

          <% if user_signed_in? %>
              <li><%= link_to "Edit registration", edit_user_registration_path %></li>
          <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
          <% end %>




        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <br>
  <br>
  <br>
  <%= yield %>
  <br>
  <br>
  <br>

  <% flash.each do |key,value| %>
        <% if key == :notice %>
            <p class="notice span4"><%= notice %></p>
            
        <% elsif key == :alert %>
            <p class="alert span4"><%= alert %></p>
        <% else %>
          <p class="notice span4"><%= notice %></p>
        <% end %>
      <% end %>

  

</div>
</body>


</html>

